@model AOS.Platform.Models.AppViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Available apps</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div class="row">
                        @{
                            foreach (var app in Model.Apps)
                            {
                                var routeValues = new RouteValueDictionary();
                                routeValues.Add("Id", app.AppID);

                                <div class="col-xs-6 col-md-3">
                                    <a href="@Url.Action("AppDetailsIndex", "App", routeValues)" class="thumbnail">
                                        <img src="data:image/png;base64, @app.AppAboutTextShort" id="applogoimg" style="width: 147px; height:200px" />
                                    </a>
                                    <div class="caption" style="height: 50px; text-align:center">
                                        <h4>@app.Name</h4>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("[rel='tooltip']").tooltip();

        $('#hover-cap-4col .thumbnail thumbnail-padding').hover(
            function () {
                $(this).find('.caption').slideDown(150);
            },
            function () {
                $(this).find('.caption').slideUp(150);
            }
        );

        $('#hover-cap-3col .thumbnail thumbnail-padding').hover(
            function () {
                $(this).find('.caption').fadeIn(150);
            },
            function () {
                $(this).find('.caption').fadeOut(150);
            }
        );

        $('#hover-cap-unique .thumbnail thumbnail-padding').hover(
            function () {
                $(this).find('.caption').slideDown(500);
            },
            function () {
                $(this).find('.caption').slideUp(500);
            }
        );

        $('#hover-cap-6col .thumbnail thumbnail-padding').hover(
            function () {
                $(this).find('.caption').show();
            },
            function () {
                $(this).find('.caption').hide();
            }
        );
    });
</script>