@{
    ViewBag.Title = "Not found";
}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-danger">Error.</h1>
                <h2>The requested page was not found. Please contact your system administrator</h2>
            </div>
        </div>
    </div>
</div>