@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav navbar-nav navbar-right" id="navcontainer">
            <ul>
                <li>
                    <strong>@Html.ActionLink("Hello " + User.Identity.Name + "!", "ChangeToOwnerAccount", "Account", routeValues: null, htmlAttributes: new { title = "User", id = "currentUser" })</strong>
                </li>
                @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
            </ul>
        </div>
    }
}
else
{
    <div class="nav navbar-nav navbar-right signup-signin" id="navcontainer">
        <ul>
            <li>
                <button class="btn btn-info" onclick="location.href='@Url.Action("Register", "Account")'">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;Sign up
                </button>
            </li>
            <li>
                <button class="btn btn-primary" data-toggle="modal" onclick="location.href='@Url.Action("Login", "Account")'">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;Login
                </button>
                @*<button class="btn btn-primary" data-toggle="modal" data-target="#loginmodal">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;Login
                    </button>*@
            </li>
        </ul>
    </div>
}
