<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- ************************ SO75 ************************ -->
        <binding name="BasicHttpBinding_SoPrincipal75SSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Archive75SSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Find75SSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_User75SSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Associate" />
        <binding name="BasicHttpBinding_AssociateSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Appointment" />
        <binding name="BasicHttpBinding_AppointmentSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_BLOB" />
        <binding name="BasicHttpBinding_BLOBSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Contact" />
        <binding name="BasicHttpBinding_ContactSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Document" />
        <binding name="BasicHttpBinding_DocumentSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_License" />
        <binding name="BasicHttpBinding_LicenseSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_List" />
        <binding name="BasicHttpBinding_ListSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_MDO" />
        <binding name="BasicHttpBinding_MDOSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Person" />
        <binding name="BasicHttpBinding_PersonSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_PhoneList" />
        <binding name="BasicHttpBinding_PhoneListSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Sale" />
        <binding name="BasicHttpBinding_SaleSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Selection" />
        <binding name="BasicHttpBinding_SelectionSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_UserDefinedFieldInfo" />
        <binding name="BasicHttpBinding_UserDefinedFieldInfoSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Preference" />
        <binding name="BasicHttpBinding_PreferenceSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ForeignSystem" />
        <binding name="BasicHttpBinding_ForeignSystemSSL">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Preference1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_SoPrincipal75" />
        <binding name="BasicHttpBinding_SoPrincipal1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Appointment1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Archive75" />
        <binding name="BasicHttpBinding_Archive1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Associate1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_BLOB1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Contact1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Document1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Find75" />
        <binding name="BasicHttpBinding_Find1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ForeignSystem1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_License1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_List1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_MDO1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Person1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_PhoneList1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Sale1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Selection1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_User75" />
        <binding name="BasicHttpBinding_User1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_UserDefinedFieldInfo1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Appointment2" />
        <binding name="BasicHttpBinding_Appointment11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Archive" />
        <binding name="BasicHttpBinding_Archive11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Associate2" />
        <binding name="BasicHttpBinding_Associate11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_BLOB2" />
        <binding name="BasicHttpBinding_BLOB11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Contact2" />
        <binding name="BasicHttpBinding_Contact11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Document2" />
        <binding name="BasicHttpBinding_Document11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Find" />
        <binding name="BasicHttpBinding_Find11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ForeignSystem2" />
        <binding name="BasicHttpBinding_ForeignSystem11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_License2" />
        <binding name="BasicHttpBinding_License11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_List2" />
        <binding name="BasicHttpBinding_List11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_MDO2" />
        <binding name="BasicHttpBinding_MDO11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Person2" />
        <binding name="BasicHttpBinding_Person11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_PhoneList2" />
        <binding name="BasicHttpBinding_PhoneList11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Preference2" />
        <binding name="BasicHttpBinding_Preference11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Sale2" />
        <binding name="BasicHttpBinding_Sale11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_Selection2" />
        <binding name="BasicHttpBinding_Selection11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_SoPrincipal" />
        <binding name="BasicHttpBinding_SoPrincipal11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_User" />
        <binding name="BasicHttpBinding_User11">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_UserDefinedFieldInfo2" />
        <binding name="BasicHttpBinding_UserDefinedFieldInfo11">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/SoPrincipal.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SoPrincipal75SSL" contract="SoPrincipal75.SoPrincipal" name="BasicHttpBinding_SoPrincipal75SSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Archive.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Archive75SSL" contract="Archive75.Archive" name="BasicHttpBinding_Archive75SSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Find.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Find75SSL" contract="Find75.Find" name="BasicHttpBinding_Find75SSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/User.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_User75SSL" contract="User75.User1" name="BasicHttpBinding_User75SSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Associate.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AssociateSSL" contract="Associate75.Associate1" name="BasicHttpBinding_AssociateSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Appointment.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AppointmentSSL" contract="Appointment75.Appointment1" name="BasicHttpBinding_AppointmentSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/BLOB.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLOBSSL" contract="Blob75.BLOB" name="BasicHttpBinding_BLOBSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Contact.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ContactSSL" contract="Contact75.Contact1" name="BasicHttpBinding_ContactSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Document.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentSSL" contract="Document75.Document1" name="BasicHttpBinding_DocumentSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/License.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LicenseSSL" contract="License75.License" name="BasicHttpBinding_LicenseSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/List.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ListSSL" contract="List75.List" name="BasicHttpBinding_ListSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/MDO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MDOSSL" contract="Mdo75.MDO" name="BasicHttpBinding_MDOSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Person.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PersonSSL" contract="Person75.Person1" name="BasicHttpBinding_PersonSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/PhoneList.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PhoneListSSL" contract="PhoneList75.PhoneList" name="BasicHttpBinding_PhoneListSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Sale.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SaleSSL" contract="Sale75.Sale1" name="BasicHttpBinding_SaleSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Selection.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SelectionSSL" contract="Selection75.Selection" name="BasicHttpBinding_SelectionSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/UserDefinedFieldInfo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserDefinedFieldInfoSSL" contract="UserDefinedFieldInfo75.UserDefinedFieldInfo1" name="BasicHttpBinding_UserDefinedFieldInfoSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/Preference.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PreferenceSSL" contract="Preference75.Preference1" name="BasicHttpBinding_PreferenceSSL" />
      <endpoint address="https://192.168.10.151/SuperOffice75/Remote/Services75/ForeignSystem.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ForeignSystemSSL" contract="ForeignSystem75.ForeignSystem" name="BasicHttpBinding_ForeignSystemSSL" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Preference.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Preference" contract="Preference75.Preference1" name="BasicHttpBinding_Preference" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Preference.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Preference1" contract="Preference75.Preference1" name="BasicHttpBinding_Preference1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/SoPrincipal.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SoPrincipal75" contract="SoPrincipal75.SoPrincipal" name="BasicHttpBinding_SoPrincipal75" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/SoPrincipal.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SoPrincipal1" contract="SoPrincipal75.SoPrincipal" name="BasicHttpBinding_SoPrincipal1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Appointment.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Appointment" contract="Appointment75.Appointment1" name="BasicHttpBinding_Appointment" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Appointment.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Appointment1" contract="Appointment75.Appointment1" name="BasicHttpBinding_Appointment1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Archive.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Archive75" contract="Archive75.Archive" name="BasicHttpBinding_Archive75" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Archive.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Archive1" contract="Archive75.Archive" name="BasicHttpBinding_Archive1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Associate.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Associate" contract="Associate75.Associate1" name="BasicHttpBinding_Associate" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Associate.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Associate1" contract="Associate75.Associate1" name="BasicHttpBinding_Associate1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/BLOB.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLOB" contract="Blob75.BLOB" name="BasicHttpBinding_BLOB" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/BLOB.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLOB1" contract="Blob75.BLOB" name="BasicHttpBinding_BLOB1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Contact.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Contact" contract="Contact75.Contact1" name="BasicHttpBinding_Contact" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Contact.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Contact1" contract="Contact75.Contact1" name="BasicHttpBinding_Contact1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Document.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Document" contract="Document75.Document1" name="BasicHttpBinding_Document" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Document.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Document1" contract="Document75.Document1" name="BasicHttpBinding_Document1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Find.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Find75" contract="Find75.Find" name="BasicHttpBinding_Find75" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Find.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Find1" contract="Find75.Find" name="BasicHttpBinding_Find1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/ForeignSystem.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ForeignSystem" contract="ForeignSystem75.ForeignSystem" name="BasicHttpBinding_ForeignSystem" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/ForeignSystem.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ForeignSystem1" contract="ForeignSystem75.ForeignSystem" name="BasicHttpBinding_ForeignSystem1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/License.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_License" contract="License75.License" name="BasicHttpBinding_License" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/License.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_License1" contract="License75.License" name="BasicHttpBinding_License1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/List.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_List" contract="List75.List" name="BasicHttpBinding_List" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/List.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_List1" contract="List75.List" name="BasicHttpBinding_List1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/MDO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MDO" contract="Mdo75.MDO" name="BasicHttpBinding_MDO" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/MDO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MDO1" contract="Mdo75.MDO" name="BasicHttpBinding_MDO1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Person.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Person" contract="Person75.Person1" name="BasicHttpBinding_Person" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Person.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Person1" contract="Person75.Person1" name="BasicHttpBinding_Person1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/PhoneList.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PhoneList" contract="PhoneList75.PhoneList" name="BasicHttpBinding_PhoneList" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/PhoneList.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PhoneList1" contract="PhoneList75.PhoneList" name="BasicHttpBinding_PhoneList1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Sale.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Sale" contract="Sale75.Sale1" name="BasicHttpBinding_Sale" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Sale.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Sale1" contract="Sale75.Sale1" name="BasicHttpBinding_Sale1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/Selection.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Selection" contract="Selection75.Selection" name="BasicHttpBinding_Selection" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/Selection.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Selection1" contract="Selection75.Selection" name="BasicHttpBinding_Selection1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/User.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_User75" contract="User75.User1" name="BasicHttpBinding_User75" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/User.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_User1" contract="User75.User1" name="BasicHttpBinding_User1" />
      <endpoint address="http://192.168.10.151/SuperOffice/Remote/Services75/UserDefinedFieldInfo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserDefinedFieldInfo" contract="UserDefinedFieldInfo75.UserDefinedFieldInfo1" name="BasicHttpBinding_UserDefinedFieldInfo" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice/Remote/Services75/UserDefinedFieldInfo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserDefinedFieldInfo1" contract="UserDefinedFieldInfo75.UserDefinedFieldInfo1" name="BasicHttpBinding_UserDefinedFieldInfo1" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Appointment.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Appointment2" contract="Appointment82.Appointment1" name="BasicHttpBinding_Appointment2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Appointment.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Appointment11" contract="Appointment82.Appointment1" name="BasicHttpBinding_Appointment11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Archive.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Archive" contract="Archive82.Archive" name="BasicHttpBinding_Archive" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Archive.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Archive11" contract="Archive82.Archive" name="BasicHttpBinding_Archive11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Associate.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Associate2" contract="Associate82.Associate1" name="BasicHttpBinding_Associate2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Associate.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Associate11" contract="Associate82.Associate1" name="BasicHttpBinding_Associate11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/BLOB.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLOB2" contract="Blob82.BLOB" name="BasicHttpBinding_BLOB2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/BLOB.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BLOB11" contract="Blob82.BLOB" name="BasicHttpBinding_BLOB11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Contact.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Contact2" contract="Contact82.Contact1" name="BasicHttpBinding_Contact2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Contact.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Contact11" contract="Contact82.Contact1" name="BasicHttpBinding_Contact11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Document.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Document2" contract="Document82.Document1" name="BasicHttpBinding_Document2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Document.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Document11" contract="Document82.Document1" name="BasicHttpBinding_Document11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Find.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Find" contract="Find82.Find" name="BasicHttpBinding_Find" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Find.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Find11" contract="Find82.Find" name="BasicHttpBinding_Find11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/ForeignSystem.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ForeignSystem2" contract="ForeignSystem82.ForeignSystem" name="BasicHttpBinding_ForeignSystem2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/ForeignSystem.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ForeignSystem11" contract="ForeignSystem82.ForeignSystem" name="BasicHttpBinding_ForeignSystem11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/License.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_License2" contract="License82.License" name="BasicHttpBinding_License2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/License.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_License11" contract="License82.License" name="BasicHttpBinding_License11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/List.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_List2" contract="List82.List" name="BasicHttpBinding_List2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/List.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_List11" contract="List82.List" name="BasicHttpBinding_List11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/MDO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MDO2" contract="Mdo82.MDO" name="BasicHttpBinding_MDO2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/MDO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MDO11" contract="Mdo82.MDO" name="BasicHttpBinding_MDO11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Person.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Person2" contract="Person82.Person1" name="BasicHttpBinding_Person2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Person.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Person11" contract="Person82.Person1" name="BasicHttpBinding_Person11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/PhoneList.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PhoneList2" contract="PhoneList82.PhoneList" name="BasicHttpBinding_PhoneList2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/PhoneList.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PhoneList11" contract="PhoneList82.PhoneList" name="BasicHttpBinding_PhoneList11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Preference.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Preference2" contract="Preference82.Preference1" name="BasicHttpBinding_Preference2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Preference.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Preference11" contract="Preference82.Preference1" name="BasicHttpBinding_Preference11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Sale.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Sale2" contract="Sale82.Sale1" name="BasicHttpBinding_Sale2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Sale.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Sale11" contract="Sale82.Sale1" name="BasicHttpBinding_Sale11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/Selection.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Selection2" contract="Selection82.Selection" name="BasicHttpBinding_Selection2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/Selection.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Selection11" contract="Selection82.Selection" name="BasicHttpBinding_Selection11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/SoPrincipal.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SoPrincipal" contract="SoPrincipal82.SoPrincipal" name="BasicHttpBinding_SoPrincipal" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/SoPrincipal.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SoPrincipal11" contract="SoPrincipal82.SoPrincipal" name="BasicHttpBinding_SoPrincipal11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/User.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_User" contract="User82.User1" name="BasicHttpBinding_User" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/User.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_User11" contract="User82.User1" name="BasicHttpBinding_User11" />
      <endpoint address="http://localhost/SuperOffice82R01/Remote/Services82/UserDefinedFieldInfo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserDefinedFieldInfo2" contract="UserDefinedFieldInfo82.UserDefinedFieldInfo1" name="BasicHttpBinding_UserDefinedFieldInfo2" />
      <endpoint address="https://qm-eis-dev-mok.modules.local/SuperOffice82R01/Remote/Services82/UserDefinedFieldInfo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserDefinedFieldInfo11" contract="UserDefinedFieldInfo82.UserDefinedFieldInfo1" name="BasicHttpBinding_UserDefinedFieldInfo11" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="AOSEntities" connectionString="metadata=res://*/AOSModel.csdl|res://*/AOSModel.ssdl|res://*/AOSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adwizastagingsqlserver.database.windows.net;initial catalog=AOS2Staging;user id=AOSAdmin;password=Adwiza4711!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SynthGuruEntities" connectionString="metadata=res://*/SynthGuruModel.csdl|res://*/SynthGuruModel.ssdl|res://*/SynthGuruModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=synthgurudb.database.windows.net;initial catalog=SynthGuru;user id=synthguruadmin;password=_Mbk12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>