@{
    ViewBag.Title = "Access denied";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- Main panel -->
        <div class="panel panel-primary">
            <div class="panel-heading panel-heading-custom">
                <h4 class="panel-title"><strong>Access denied</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div id="container" style="white-space:nowrap">
                        <div id="image" style="display:inline;">
                            <span class="fa fa-ban red"></span>
                        </div>
                        <div id="texts" class="adwiza-label" style="display:inline; white-space:nowrap;">
                            You do not have access to this page
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>