@model AOS.Platform.Common.NotFoundModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>An error occurred</strong></h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="aoswell">
                        <div class="form-group">
                            Requested page: @Model.RequestedUrl
                        </div>
                        <div class="form-group">
                            The page could not be found. Please contact your system administrator
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>