@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title"><strong>Reset password complete</strong></h4>
    </div>
    <div class="panel-body">
        <div class="aoswell">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>