/*body {
  color: #52585d;
  background: url(Images/admin_bkg.png) repeat-x scroll 0 0 #E7F1FD;
  background: #eef1f3 transparent no-repeat 27% 37px;
  background: transparent no-repeat 27% 37px, -webkit-gradient(radial, 40% 315, 140, 40% 315, 415, from(white), to(#eef1f3));
  background: transparent no-repeat 27% 37px, -moz-radial-gradient(40% 315px, circle, white 140px, #eef1f3 415px); }*/

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

.topseperator {
    background-color: #D4DEE5;
    height: 34px;
}

.copyright {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #8C8989;
    font-size: 11px;
    text-shadow: none;
    text-align: center;
}

.headerlogo {
    float: left;
}

.headertext {
    float: left;
}

    .headertext h3 {
        color: #4A4A4A;
        display: inline;
        float: left;
        margin: 0;
        padding: 18px 0 0 10px;
        font-size: 18px;
        font-family: Arial, Helvetica;
        font-weight: bold;
    }

.mok {
    float: right;
    color: #4A4A4A;
    display: inline;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica;
    font-weight: bold;
}

#navcontainer ul {
    margin: 0;
    padding-top: 18px;
    list-style-type: none;
    text-align: right;
}

    #navcontainer ul li {
        display: inline;
    }

        #navcontainer ul li a {
            text-decoration: none;
            padding: .2em 1em;
            color: #4A4A4A;
            background-color: #fff;
        }

            #navcontainer ul li a:hover {
                color: #f00;
                background-color: #fff;
            }

hr {
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    border: 0;
    border-top: 1px solid #888;
}

.modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

.modal-sm {
    width: 383px;
}

.signup-signin {
    padding-bottom: 10px;
}

.modal-header .close {
    float: right !important;
    margin-right: -30px !important;
    margin-top: -30px !important;
    background-color: #4A4A4A !important;
    color: #fff;
    border-color: #000000;
    border-radius: 15px !important;
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important;
}

.close:hover {
    background: #00d9ff;
}

.modal-center {
    position: absolute;
    left: 50%;
    top: 50%;
}

.aos-checkbox {
    margin-top: 0px;
}

.aos-none {
    display: none;
}

.bs-example {
    font-family: sans-serif;
    position: relative;
    margin: 100px;
}

.twitter-typeahead {
    width: 100%;
}

    .twitter-typeahead .tt-query,
    .twitter-typeahead .tt-hint {
        margin-bottom: 0;
    }

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    width: 100%;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

    .tt-suggestion.tt-is-under-cursor {
        color: #fff;
        background-color: #0081c2;
        background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
        background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
        background-image: -o-linear-gradient(top, #0088cc, #0077b3);
        background-image: linear-gradient(to bottom, #0088cc, #0077b3);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    }

        .tt-suggestion.tt-is-under-cursor a {
            color: #fff;
        }

    .tt-suggestion p {
        margin: 0;
    }

.ih-item.square {
    position: relative;
    width: 100px;
    height: 100px;
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#hover-cap-4col .thumbnail {
    position: relative;
    overflow: hidden;
}
/*.caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	color:#fff !important;
}*/

.adwiza-label {
    color: #003468;
    font-weight: bold;
}

.adwiza-expired {
    color: yellow;
    background-color: red;
    font-weight: bold;
    font-size: 0.8em;
}

.adwiza-notexpired {
    color: white;
    background-color: #003468;
    font-weight: bold;
    font-size: 0.8em;
}

.adwiza-error {
    color: red;
    font-weight: bold;
}

.thumbnail-padding {
    margin-bottom: 5px;
}

.contenthover {
    padding: 10px 10px 10px 10px;
}

    .contenthover, .contenthover h4, contenthover a {
        color: #fff;
    }

        .contenthover h4, .contenthover p, .contenthover table {
            margin: 0 0 0 0;
            line-height: 1.4em;
            padding: 0;
        }

        .contenthover a.mybutton {
            display: block;
            float: left;
            padding: 5px 10px;
            background: #3c9632;
            color: #fff;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

            .contenthover a.mybutton:hover {
                background: #34742d;
            }

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.red {
    color: red;
}

.bgred {
    background-color: red;
}

.green {
    color: green;
}

.bggreen {
    background-color: green;
}

.bgso8 {
    background-color: #f0ad4e;
}

.mypanel {
    height: 480px;
    overflow-y: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

-notopborder {
    padding-top: 0px;
}

.aoswell {
    min-height: 20px;
    padding: 19px;
    /* margin-bottom: 20px; */
    background-color: #D4DEE5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.aoswelliframe {
    min-height: 20px;
    /*padding: 19px;*/
    /* margin-bottom: 20px; */
    background-color: #D4DEE5;
    /*border: 1px solid #e3e3e3;*/
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.aoswellinline {
    min-height: 20px;
    /*padding: 19px;*/
    /*margin-bottom: 20px;*/
    background-color: #dddddd;
    border: 1px solid #dddddd;
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.sysuserfg {
    color: #f0ad4e;
}

.spinnerframe {
    height: 25px; /* equals max image height */
    width: 160px;
    border: 1px solid red;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

.spinnerhelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.panel-primary .panel-heading {
    background: #2F9CCF;
    color: #fff;
}

/*.panel-primary > .panel-heading-custom {
    background: #2F9CCF;
    color: #fff;
}*/

.aos-btn-warning {
    color: #ffffff;
    background-color: #FFBD54;
    border-color: #eea236;
}

.aos-btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.panel-body {
    padding: 0px;
}

.btn-primary {
    background: #2F9CCF;
    color: #fff;
}

.spinner-image {
    vertical-align: bottom;
    border: 0;
}

.adwblock label {
    display: inline-block;
    width: 140px;
    text-align: left;
}

#background {
    position: absolute;
    z-index: 0;
    background: white;
    display: block;
    min-height: 50%;
    min-width: 50%;
    color: yellow;
}

#content {
    position: absolute;
    z-index: 1;
}

#bg-text {
    color: lightgrey;
    font-size: 120px;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
}

ul.test2 a {
    color: #337ab7;
    text-decoration: none !important;
    border-radius: 4px;
}

    ul.test2 a:hover, ul.test2 a:focus {
        color: #777;
    }

#img_appcontainer {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 1px solid red;
}

.buttonapp {
    position: absolute;
    bottom: 10px;
    /*right:10px;
    width:30px;
    height:30px;*/
}

.hiddenRow {
    padding: 0 !important;
}

.margin {
    margin-left: 10px;
    margin-right: 10px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #a2cfcf;
}

iframe {
    overflow: hidden;
}

.alertnobottommargin {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.AppLogoTextWrapRight {
    float: right;
    margin: 10px;
}

.AppLogoTextWrapLeft {
    clear: right;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 10px;
}

.texttop {
    vertical-align: top;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.mailfont {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: #d0cdfa;
    font-weight: bold;
}

:-moz-placeholder { /* older Firefox*/
    font-size: 14px;
    color: #d0cdfa;
    font-weight: bold;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #d0cdfa;
    font-weight: bold;
}

:-ms-input-placeholder {
    font-size: 14px;
    color: #d0cdfa;
    font-weight: bold;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

    #image-preview-applogo {
        width: 147px;
        height: 200px;
        position: relative;
        overflow: hidden;
        background-color: #808080;
        color: #ecf0f1;
    }
    #image-preview-triallogo {
        width: 147px;
        height: 200px;
        position: relative;
        overflow: hidden;
        background-color: #808080;
        color: #ecf0f1;
    }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: #29d;

  pointer-events: none;
}