@model AOS.Platform.Models.DiagnosticsViewModel
@{
    ViewBag.Title = "Diagnostics";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- Upper panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title sysuserfg"><strong>Diagnostics</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div class="form-group">
                        This page performs some healthchecks to ensure the AOS is in fine working order
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title sysuserfg"><strong>Diagnostics possibilities</strong></h4>
            </div>
            <div class="panel-body">
                <div class="aoswell">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabbable parentTabs">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#integritycheck">Integrity check</a>
                                    </li>
                                    <li>
                                        <a href="#connectionstatus">Connection status</a>
                                    </li>
                                </ul>
                                <hr />
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="integritycheck">
                                        @{Html.RenderPartial("_DiagnosticsIntegrityChecks", Model.IntegrityCheck); }
                                    </div>
                                    <div class="tab-pane fade" id="connectionstatus">
                                        @{Html.RenderPartial("_DiagnosticsConnectionStatus", Model.ConnectionStatus); }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    // This section will only be available when the page is ready
    $(document).ready(function () {

        $("ul.nav-tabs a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // The ladda button (button with spinner)
        var ladda = null;

        // Attach click handler to the submit Endpoint Settings button:
        $('#form-submit1').click(function () {
            // Assign button to ladda button
            ladda = Ladda.create(this);
            // Submit form
            $('#frmIntegrityCheck').submit();
        });

        // Attach click handler to the submit Notification Settings button:
        $('#form-submit2').click(function () {
            // Assign button to ladda button
            ladda = Ladda.create(this);
            // Submit form
            $('#frmCheckConnection').submit();
        });

        // Hide alert boxes
        $("#success-alert-integritychecksettings").hide();
        $("#error-alert-integritychecksettings").hide();

        $("#success-alert-checkconnectionsettings").hide();
        $("#error-alert-checkconnectionsettings").hide();

        // Submit form - endpoint settings
        $("#frmIntegrity").on("submit", function (event) {
            event.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();
            // Start loading. Turn on spinner
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    // Check if we should redirect
                    if (resp.Redirect) {
                        window.location = "@Url.Action("Login", "Account")";
                    };

                    if (resp.IsOK) {
                        // Show success alert box
                        $("#success-alert-integritycheck").show();
                        // Remove success alert-box after a few seconds
                        $("#success-alert-integritycheck").fadeTo(2000, 1000).slideUp(1000, function () {
                            $("#success-alert-integritycheck").hide();
                        });
                    }
                    else {
                        // Show error alert box
                        $("#error-alert-integritycheck").html(resp.ErrorMsg);
                        $("#error-alert-integritycheck").show();
                        // Remove error alert-box after a few seconds
                        $("#error-alert-integritycheck").fadeTo(2000, 500).slideUp(500, function () {
                            $("#error-alert-integritycheck").hide();
                        });
                    }
                }
            })
          .done(function () {
              console.log("second success");
          })
          .fail(function () {
              console.log("error");
          })
          .always(function () {
              console.log("complete");
              ladda.stop();
          });
            return false;
        });

        // Submit form - notification settings
        $("#frmCheckConnection").on("submit", function (event) {
            event.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();
            // Start loading. Turn on spinner
            ladda.start();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    // Check if we should redirect
                    if (resp.Redirect) {
                        window.location = "@Url.Action("Login", "Account")";
                    };

                    if (resp.IsOK) {
                        // Show success alert box
                        $("#success-alert-checkconnection").show();
                        // Remove success alert-box after a few seconds
                        $("#success-alert-checkconnection").fadeTo(2000, 1000).slideUp(1000, function () {
                            $("#success-alert-checkconnection").hide();
                        });
                    }
                    else {
                        // Show error alert box
                        $("#error-alert-checkconnection").html(resp.ErrorMsg);
                        $("#error-alert-checkconnection").show();
                        // Remove error alert-box after a few seconds
                        $("#error-alert-checkconnection").fadeTo(2000, 500).slideUp(500, function () {
                            $("#error-alert-checkconnection").hide();
                        });
                    }
                }
            })
          .done(function () {
              console.log("second success");
          })
          .fail(function () {
              console.log("error");
          })
          .always(function () {
              console.log("complete");
              ladda.stop();
          });
            return false;
        });

    });

    // Automatically trigger the loading animation on click
    Ladda.bind('input[type=submit]');

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
