@{
    ViewBag.Title = "Prepare your SuperOffice";

    Layout = (Request.IsAuthenticated) ? "~/Views/Shared/_LoggedInLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- Upper panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Prepare your SuperOffice</strong></h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="aoswell">
                        <p>
                            <strong>Adwiza Online Services - AOS</strong>
                        </p>
                        <p>
                            AOS is a cloud service, and to make it work with your local SuperOffice, you need to install SuperOffice webservices on a server in your network, and
                            create a user that will allow AOS to connect to your SuperOffice environment. We are using the Microsoft Azure platform to host AOS.
                        </p>
                        <p>
                            <strong>Preparation and requirements: </strong>
                        </p>
                        <p>
                            SuperOffice Sales &amp; Marketing for windows or web, version 7.5 or newer.
                        </p>
                        <p>
                            SuperOffice web services. This is a software component available as a part of your SuperOffice main­te­nance program, which creates a secure layer between
                            your SuperOffice database and the internet, called an Endpoint. The server for the SuperOffice web services must have the Internet Information Server role
                            installed.
                        </p>
                        <p>
                            <strong>Creating an endpoint</strong>
                        </p>
                        <p>
                            An Endpoint is a URL where you expose your SuperOffice installation to the internet. A typical endpoint looks like this:
                            https://superoffice.&lt;yourdomain&gt;.com/superoffice/remote/Services75 or https://&lt;yourdomain&gt;.com/superoffice/remote/Services75.
                        </p>
                        <p>
                            <strong>Security</strong>
                        </p>
                        <p>
                            An open port for traffic. Your IT department must create a rule in your firewall to route traffic at port 443 (HTTPS) from the Internet to the server.
                            You IT department can secure this be limiting the firewall only to accept traffic from our server. We have 4 IP’s that needs to be allowed. IP’s:<br />
                            <ul>
                                <li>23.100.53.139</li>
                                <li>23.100.53.152</li>
                                <li>23.100.53.156</li>
                                <li>23.100.58.69</li>
                            </ul>
                        </p>
                        <p>
                            All communication in our platform requires https
                        </p>
                        <p>
                            You can run <a href="https://www.ssllabs.com/ssltest/analyze.html?d=online.adwiza.com&amp;hideResults=on&amp;latest">this</a> test to see if our
                            platform is secure
                        </p>
                        <p>
                            <strong></strong>
                        </p>
                        <p>
                            <strong>Please note: </strong>
                        </p>
                        <p>
                            If you have either SuperOffice Sales &amp; Marketing for WEB, the SuperOffice Pocket CRM or SuperOffice Customer Service, the endpoint is already installed
                            somewhere in you infrastructure.
                        </p>
                        <p>
                            We recommend http<strong>s </strong>with a certificate to secure the communication between your SuperOffice and the Adwiza cloud platform.
                        </p>
                        <p>
                            <strong>We offer: </strong>
                        </p>
                        <p>
                            Adwiza offers to do the installation of the SuperOffice web services at a fixed price.
                        </p>
                        <p>
                            If you have any questions or need help, please contact us:
                        </p>
                            <strong>Phone: +45 7022 8550 </strong>
                        </p>
                        <p>
                            <strong>Email: <a href="mailto:support@adwiza.com" target="_top">support@adwiza.com</a></strong>
                        </p>
                        <p>
                            <strong>Website: <a href="www.adwiza.com" target="_top">www.adwiza.com</a></strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>