@model AOS.Platform.Models.TermsOfServiceViewModel
@{
    ViewBag.Title = "Prepare your SuperOffice";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- Upper panel-->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Terms of Service</strong></h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="aoswell">
                        Click on the link below to download our Terms of Service
                        <br></br>
                        <a href="http://partner.adwiza.com/x/Agreements/AmestoSolutionsSaaSAgreement.pdf" target="_blank">Download</a>
                        <!-- @Model.TermsOfServiceText -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>