@model SynthGuru.Web.Models.SynthViewModel
<h2>Synths</h2>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <button class="btn-primary">Show synth list</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="synthList">
            <div class="well" id="dummy">

            </div>
        </div>
    </div>
</div>
